Trabalhando com 2 Bases de Dados

In [2]:
import pandas as pd
import seaborn as sns

In [12]:
vendas = pd.read_excel('varejo.xlsx')

In [14]:
vendas.head()

,idcompra,idcanalvenda,bandeira,Data,Preço,Preço_com_frete,Nome_Departamento,estado,cliente_Log
0,393835,Mobile,A,2023-03-05,1582.560,791.280,Telefones e Celulares,SP,15042
1,411885,Mobile,A,2023-03-17,679.200,679.200,Tablets,SP,17590
2,437305,Mobile,A,2023-03-06,35.920,37.512,Bebes,SP,15478
3,440055,APP,A,2023-01-13,2239.416,2239.416,TVs e Acessorios,SP,2933
4,455795,Mobile,B,2023-03-31,1743.200,1785.112,Esporte e Lazer,RS,19790

In [19]:
vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80228 entries, 0 to 80227
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idcompra           80228 non-null  int64
 1   idcanalvenda       80228 non-null  object
 2   bandeira           80228 non-null  object
 3   Data               80228 non-null  datetime64[ns]
 4   Preço              79926 non-null  float64
 5   Preço_com_frete    80228 non-null  float64
 6   Nome_Departamento  80228 non-null  object
 7   estado             79926 non-null  object
 8   cliente_Log        80228 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 5.5+ MB

In [29]:
vendas.groupby('idcanalvenda').idcompra.nunique()

idcanalvenda
Aplicativo    21539
Internet      24515
Mobile        24732
Name: idcompra, dtype: int64

In [31]:
vendas['idcanalvenda'] = vendas['idcanalvenda'].str.replace('APP', 'Aplicativo')

In [33]:
vendas.groupby('Nome_Departamento').idcompra.nunique()

Nome_Departamento
Acessorios e Inovacoes     3548
Alimentos                     2
Ar e Ventilacao             951
Audio                      1794
Automotivo                  895
Bebes                      4531
Beleza e Saude             4626
Brinquedos                 1320
Cama, Mesa e Banho          153
Casa e Construcao           263
Cine e Foto                  11
Decoracao                   134
Eletrodomesticos          10501
Eletroportateis            9593
Esporte e Lazer             531
Ferramentas                1111
Games                       764
Informatica                5290
Instrumentos Musicais         1
Linha Industrial             86
Malas e Mochilas            114
Moda                          3
Moveis                     4175
Perfumaria                  624
Pet Shop                     43
Produtos de Limpeza         713
Relogios                    134
TV e Video                    5
TVs e Acessorios           5326
Tablets                    1770
Telefones e Celulares     14495
Utilidades Domesticas      3728
Name: idcompra, dtype: int64

In [39]:
vendas['Nome_Departamento'] = vendas['Nome_Departamento'].str.replace(' ', '_')
vendas['Nome_Departamento'] = vendas['Nome_Departamento'].str.replace('Cama,_Mesa_e_Banho', 'Cama_Mesa_e_Banho')
vendas.groupby('Nome_Departamento').idcompra.nunique()

Nome_Departamento
Acessorios_e_Inovacoes     3548
Alimentos                     2
Ar_e_Ventilacao             951
Audio                      1794
Automotivo                  895
Bebes                      4531
Beleza_e_Saude             4626
Brinquedos                 1320
Cama_Mesa_e_Banho           153
Casa_e_Construcao           263
Cine_e_Foto                  11
Decoracao                   134
Eletrodomesticos          10501
Eletroportateis            9593
Esporte_e_Lazer             531
Ferramentas                1111
Games                       764
Informatica                5290
Instrumentos_Musicais         1
Linha_Industrial             86
Malas_e_Mochilas            114
Moda                          3
Moveis                     4175
Perfumaria                  624
Pet_Shop                     43
Produtos_de_Limpeza         713
Relogios                    134
TV_e_Video                    5
TVs_e_Acessorios           5326
Tablets                    1770
Telefones_e_Celulares     14495
Utilidades_Domesticas      3728
Name: idcompra, dtype: int64

In [41]:
vendas[vendas['estado'].isnull()]

,idcompra,idcanalvenda,bandeira,Data,Preço,Preço_com_frete,Nome_Departamento,estado,cliente_Log
96,382380,Internet,A,2023-04-26,NaN,879.200,Telefones_e_Celulares,NaN,5804
284,346055,Internet,A,2023-03-23,NaN,87.648,Ar_e_Ventilacao,NaN,16359
402,172555,Mobile,A,2023-03-19,NaN,135.840,Ar_e_Ventilacao,NaN,13691
411,446380,Mobile,A,2023-03-09,NaN,1703.120,Eletrodomesticos,NaN,13024
770,40425,Mobile,B,2023-04-21,NaN,1759.200,Telefones_e_Celulares,NaN,9121
...,...,...,...,...,...,...,...,...,...
78610,399680,Aplicativo,A,2023-04-19,NaN,339.912,Eletroportateis,NaN,20873
78718,320895,Mobile,B,2023-01-20,NaN,1000.800,Telefones_e_Celulares,NaN,17772
79465,389240,Aplicativo,A,2023-01-14,NaN,279.200,Eletrodomesticos,NaN,20399
79548,124585,Mobile,A,2023-04-21,NaN,2051.240,TVs_e_Acessorios,NaN,17784
80016,104235,Aplicativo,A,2023-04-17,NaN,1199.200,Telefones_e_Celulares,NaN,21315

In [43]:
vendas_sem_nulos = vendas.dropna()
vendas_sem_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79926 entries, 0 to 80227
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idcompra           79926 non-null  int64
 1   idcanalvenda       79926 non-null  object
 2   bandeira           79926 non-null  object
 3   Data               79926 non-null  datetime64[ns]
 4   Preço              79926 non-null  float64
 5   Preço_com_frete    79926 non-null  float64
 6   Nome_Departamento  79926 non-null  object
 7   estado             79926 non-null  object
 8   cliente_Log        79926 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 6.1+ MB

In [47]:
vendas['estado'].fillna('MS', inplace=True)
vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80228 entries, 0 to 80227
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idcompra           80228 non-null  int64
 1   idcanalvenda       80228 non-null  object
 2   bandeira           80228 non-null  object
 3   Data               80228 non-null  datetime64[ns]
 4   Preço              79926 non-null  float64
 5   Preço_com_frete    80228 non-null  float64
 6   Nome_Departamento  80228 non-null  object
 7   estado             80228 non-null  object
 8   cliente_Log        80228 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 5.5+ MB

In [51]:
media_preco = vendas['Preço'].mean()

vendas['Preço'].fillna(media_preco, inplace=True)

In [53]:
media_preco

906.5891285439033

In [55]:
vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80228 entries, 0 to 80227
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idcompra           80228 non-null  int64
 1   idcanalvenda       80228 non-null  object
 2   bandeira           80228 non-null  object
 3   Data               80228 non-null  datetime64[ns]
 4   Preço              80228 non-null  float64
 5   Preço_com_frete    80228 non-null  float64
 6   Nome_Departamento  80228 non-null  object
 7   estado             80228 non-null  object
 8   cliente_Log        80228 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 5.5+ MB